<div class="organization-level-ui">
  <!-- Filter Section -->
  <div>
    <h1 style="margin-top: 60px; margin-bottom: 20px;color: #118ab2;"><i class="fa-solid fa-filter" style="color: #118ab2;
      font-size: 2rem;
      margin-bottom: 0px;
      text-align: center;"></i> Filter</h1>
    <form #filterForm="ngForm">
      <select [(ngModel)]="filterOption" name="filterOption" required>
        <option value="status">Status</option>
        <option value="priority">Priority</option>
        <option value="dueDate">Due Date</option>
      </select>
      <button type="button" [disabled]="!filterForm.valid" (click)="applyFilter()"
        [class.highlight]="filterForm.valid">Apply Filter</button>
      <button type="button" (click)="toggleSortOrder()">Toggle Sort Order ({{ sortOrder }})</button>
      <button type="button" (click)="exportToCSV()">Download CSV</button>
    </form>
  </div>

  <!-- Search Bar -->
  <div class="search-bar">
    <input type="text" placeholder="Search tasks..." [(ngModel)]="searchQuery" (input)="onSearch()"
      class="form-control">
  </div>

  <!-- Tasks List -->
  <h1 style="margin-top: 60px; margin-bottom: 20px;color:#118ab2;"><i class="fa-solid fa-list" style="color: #118ab2;
    font-size: 2rem;
    margin-bottom: 0px;
    text-align: center;"></i> Tasks List</h1>
  <div *ngIf="tasks$ | async as tasks">
    <div *ngFor="let task of filteredTasks.length ? filteredTasks : tasks" class="task-wrapper">
      <!-- Update Task Form -->
      <div *ngIf="selectedTask?.id === task.id" class="task-form-container show-edit-form">
        <form #taskForm="ngForm" class="task-form" (ngSubmit)="submitUpdate()">
          <input *ngIf="selectedTask" type="text" [(ngModel)]="selectedTask.title" name="title" placeholder="Title"
            required>
          <textarea *ngIf="selectedTask" [(ngModel)]="selectedTask.description" name="description"
            placeholder="Description" required></textarea>
          <input *ngIf="selectedTask" type="date" [(ngModel)]="selectedTask.dueDate" name="dueDate" required>
          <select *ngIf="selectedTask" [(ngModel)]="selectedTask.priority" name="priority" required>
            <option value="low">Low</option>
            <option value="medium">Medium</option>
            <option value="high">High</option>
          </select>
          <button type="submit" [disabled]="!taskForm.valid">Update</button>
        </form>
      </div>

      <!-- Task Details -->
      <div class="task-container">
        <p><strong>Title:</strong> {{ task.title }}</p>
        <p><strong>Description:</strong> {{ task.description }}</p>
        <p><strong>Due Date:</strong> {{ task.dueDate | date }}</p>
        <p><strong>Priority:</strong> {{ task.priority }}</p>
        <p><strong>Status:</strong> {{ task.status }}</p>
        <div class="button-group">
          <button (click)="updateTaskStatus(task.id, 'to-do')" style="background-color: #fbb23e;">Mark as To-Do</button>
          <button (click)="updateTaskStatus(task.id, 'in-progress')" style="background-color: #fbb23e;">Mark as In
            Progress</button>
          <button (click)="updateTaskStatus(task.id, 'completed')" style="background-color: #fbb23e;">Mark as
            Completed</button>
          <button (click)="onEditTask(task)" style="background-color: #3aca5b;">Update Task</button>
          <button (click)="deleteTask(task.id)" style="background-color: #dc3545;">Delete Task</button>
          <button (click)="toggleLogModal(task)" style="background-color: #118ab2;">Show Log</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Log Modal -->
  <div class="modal" [class.show-modal]="showModal">
    <div class="modal-content">
      <span class="close" (click)="closeModal()">&times;</span>
      <h2>Task Log History</h2>
      <ul>
        <li *ngFor="let log of logModalTask?.history">{{ log }}</li>
      </ul>
    </div>
  </div>
  <div class="scroll-to-top" (click)="scrollToTop()">
    <i class="fa fa-arrow-up"></i>
  </div>
</div>