<div class="parent">
  <div class="container-fluid bg-orange p-2 d-flex align-items-center justify-content-between" style="display: flex; align-items: center; justify-content: space-around;">
    <img src="../assets/cn-logo.png" alt="Menu Icon" style="width: 60px; height: 60px; margin-left: 20px;">
    <h1 class="text-center text-white" style="flex-grow: 1; text-align: center; margin: 0;">Task Management System</h1>
    <div style="display: flex; align-items: center;">
      <i class="fas fa-sign-in-alt fa-2x" style="color: orange;"></i>
      <span class="mx-1" style="color: orange;font-weight: bold;">Sign In</span>
    </div>
  </div>

  <div class="container mt-4">
    <!-- Task Form Component -->
    <app-task-form></app-task-form>

    <!-- Task List Component -->
    <app-task-list></app-task-list>

    <!-- Footer Component -->
    <app-footer></app-footer>
  </div>
</div>
